<div class="tile double-width bg-blue">
  <a href="/selfservice/default/checkout?visit_id={{ id }}" class="fg-white double-width but_big"  role="modal-remote" data-confirm-title="{{ i18n.confirm }}" data-confirm-message="{{ i18n.your_data }}" data-confirm-ok="{{ i18n.yes }}" data-confirm-cancel="{{ i18n.no }}">
    <div class="tile-content">
      <div class="text-right padding-10 padding-off-top">
        <h5 class="margin-off" style="margin-top:6px !important;">{{ f_name }}</h5>
        <h5 class="margin-off" style="min-height: 20px;margin-top:4px !important;">{{ l_name }}</h5>
        <h6 style="margin-top:4px;">{{ email }}</h6>
      </div>
    </div>
    <div class="brand">
      <div class="tile-label">
        <h4 class="margin-off" style="color:#0455A8;">
          <i class="fa fa-credit-card"></i>
        </h4>
      </div>
    </div>
  </a>
</div>