<h6 class="vid_check">{{ t('main','id') }}: <span class="pull-right">{{ model.id }}</span></h6>

{% if(model.visitor_id) %}
  {%  set visitor = model.visitor %}
  <h6 class="vid_check">{{ t('main','Visitor') }}: <span class="pull-right">{{ visitor.f_name }} {{ visitor.l_name	}}</span></h6>
  <h6 class="vid_check">{{ t('main','Email') }}: <span class="pull-right">{{ visitor.email }}</span></h6>
  <h6 class="vid_check">{{ t('main','Phone') }}: <span class="pull-right">{{ visitor.phone }}</span></h6>
  <h6 class="vid_check">{{ t('main','Native Language') }}: <span class="pull-right">{{ visitor.lang }}</span></h6>
{% else %}
  <h6 class="vid_check">{{ t('main','Visitor') }}: <span class="pull-right">{{ t('app','Anonymous') }}</span></h6>
{% endif %}


{%  set check = model.checkData %}
<br>
<div class="table-responsive">
<table class="table table-condensed">
  <tr>
    <th>#</th>
    <th>{{ t('main','product name') }}</th>
    <th>{{ t('main','product price') }}</th>
    <th>{{ t('main','product count') }}</th>
    <th>{{ t('main','product toal') }}</th>
  </tr>
  {% for item in check.cart %}
    <tr>
      <td>{{ item.counter }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.price }}</td>
      <td>{{ item.count }}</td>
      <td>{{ item.total }}</td>
    </tr>
  {% endfor %}
</table>
</div>
<hr class="vid_check_hr">
<div class="output_sum">
<h5 class="vid_check font-weight-700" >{{ t('main','Total cost') }}:
  <span class="pull-right">
          <span>{{ check.total_cart.sum }}</span>
		</span>
</h5>
{% for vat in check.total_cart.vat %}
  <h5 class="vid_check font-weight-700 text-capitalize"><div>{{ vat.name }}:
      {% if vat.value %}
        <small class="vat">({{ vat.value }}%)</small>
      {% endif %}
	  </div>
	    <span class="pull-right">
      {{ vat.vat }}
    </span>
  </h5>
{% endfor %}
<h5 class="vid_check font-weight-700" >{{ t('main','Total vat') }}:
  <span class="pull-right">
          <span>{{ check.total_cart.vat_total }}</span>
		</span>
</h5>
<h4 class="vid_check font-weight-700" >{{ t('main','Total sum') }}:
  <span class="pull-right">
          <span>{{ check.total_cart.cost }}</span>
		</span>
</h4>
</div>