
{{ use('yii\bootstrap\ActiveForm') }}

{% set form = active_form_begin() %}
  {{ form.field(model, 'id').hiddenInput().label(false, {'style':'display:none'})|raw }}

  <h5>{{ t('main','Comment on the reasons of non-payment (required)') }}</h5>
  {{ form.field(model, 'comment').textarea({
    'rows':4,
    'preholder':"reerw",
  }).label(false, {'style':'display:none'})|raw }}

{{ active_form_end() }}

