<td align="{{ align }}" contenteditable="true" style="background: {{ background }}; padding:{{ padding_v }}px {{ padding_h }}px {{ padding_v }}px {{ padding_h }}px; border-collapse: collapse; text-size-adjust: 100%;">
<img class="content-image " style="height:{{ height }}px;" src="{{ logo }}">
</td>