<table width="{{ width }}" border="0" cellpadding="0" cellspacing="0" style="font-family:Open Sans,Helvetica,sans-serif;font-size:16px;line-height:24px;color:#3d454c;text-align:left;padding:0 15px 0 15px;border-spacing:0;border-collapse:collapse;table-layout:auto;margin:0 auto">
<tr><td bgcolor="#ffffff" height="10" style="border-collapse:collapse;font-size:0;line-height:0">&nbsp;</td></tr>
  <tr>
    <td align="left" height="40" style="padding:0 15px 0 15px;background-color:rgb(238,238,238);border-collapse:collapse">
      {{ t('report','NAME') }}
    </td>
    <td align="right" style="padding:0 10px 0 10px;background-color:rgb(238,238,238);border-collapse:collapse">
      {{ t('report','TOTAL') }}
    </td>
  </tr>
  {% for block in data %}
    <tr>
      <td align="left" style="padding: 0 15px 0 15px;">{{ block.f_name }} {{ block.l_name }}</td>
      <td align="right" style="padding: 0 15px 0 15px;">{{ _nf(block.cost) | raw }}</td>
    </tr>
	<tr>
    <td bgcolor="#ebeced" colspan="2" height="1" style="font-size:0;line-height:0;border-collapse:collapse">&nbsp;</td>
    </tr>
  {% endfor %}
</table>