<div class="block_info width_info">
{{ t('landing','descriptions_demo') | raw }}</h4>
</div>
{# логин: <b>root</b><br>Пароль: <b>rootroot</b><br> #}
<h6 class="margin-off-bottom push-down-margin-thin font-weight-600 text-info">{{ t('app','role_admin') }}</h6>
<hr class="hrmin">
{{ t('landing','login') }}: <b>demo</b><br>
{{ t('landing','password') }}: <b>demoadmin</b><br>
<h6 class="margin-off-bottom push-down-margin-thin font-weight-600 text-info">{{ t('app','Cafe manager') }}</h6>	
<hr class="hrmin">
{{ t('landing','login') }}: <b>manager</b><br>
{{ t('landing','password') }}: <b>manager</b><br>
